* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  background-color: white;
  width: 400px;
  padding: 25px 25px;
  border-radius: 10%;
  text-align: center;
}

.player-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav .circle {
  border-radius: 50%;
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.4);
}

.song_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 8px solid black;
  box-shadow: 0 10px 60px rgb(0, 0, 0, 0.4);
}

.player h1 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 30px;
}
.player p {
  font-size: 20px;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 15px;
}
