{% extends 'base.html' %}

{% block title %}{{ artist.artist_stagename }}'s Biography{% endblock %}

{% block extra_links %}
<script src="/static/createPlaylist.js"></script>
<script src="/static/songs.js"></script>
<link rel="stylesheet" href="/static/artist_bio.css">
<link rel="stylesheet" href="/static/navbar.css" />
<link rel="stylesheet" href="/static/animations.css"> 
<link rel="stylesheet" href="/static/top-nav.css">
{% endblock %}

{% block content %}

<div class="nav-mobile">
  <input type="checkbox" class="toggler" />
  <div class="hamburger"><div></div></div>

  <div class="menu">
    <div class="logo">
      <a href=""><img src="/static/homepage-images/melo-logo-150.png" alt="Logo" /></a>
    </div>

    <div>
      <ul class="mobile-navigation">
        <li>
          <form id="nav-mobile-form" role="search">
            <input
              type="text"
              id="query"
              name="q"
              placeholder="local artists..."
            />
            <button class="btn btn-primary">Search</button>
          </form>
        </li>

        <div class="list-container">
          {% if current_user.user_type == 'artist' %}
          <li class="nav-link">
            <a href="/upload"
              ><img src="../static/nav_icons/upload.png" /><span
                >Upload Music</span
              ></a
            >
          </li>
          <li class="nav-link">
            <a
              href="{{ url_for('artist_biography', artist_id=current_user.user_id) }}"
              ><img src="../static/nav_icons/bio.png" /><span
                >Add/Edit Bio</span
              ></a
            >
          </li>
          <li class="nav-link">
            <a
            href="{{ url_for('view_events', artist_id=current_user.user_id) }}"
            ><img src="../static/nav_icons/events.png" /><span
                >My Events</span
            ></a
            >
          </li>
          <li class="nav-link">
            <a href="/create-event"><img src="../static/nav_icons/events.png" /><span>Create Event</span></a>
          </li>
          {% endif %}

          <li class="nav-link_listener">
            <a href="{{ url_for('favorite_artists') }}"
              ><img src="../static/nav_icons/artists.png" /><span
                >Favorite Artists</span
              ></a
            >
          </li>
          <li class="nav-link_listener">
            <a href="{{ url_for('my_playlists') }}"
              ><img src="../static/nav_icons/playlist.png" /><span
                >My Playlist</span
              ></a
            >
          </li>
          <li class="nav-link_listener">
            <a
            href="{{ url_for('my_rsvp_events') }}"
            ><img src="../static/nav_icons/upcoming.png" /><span
                >Upcoming Events</span
            ></a
            >
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>

{% with messages = get_flashed_messages() %}
<div>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info">{{ message }}</div>
  {% endfor %}
  {% endif %}
</div>
{% endwith %}

<nav class="sidebar">
  <div class="logo"><a href="{{ url_for('dashboard') }}"><img src="/static/homepage-images/melo-logo-150.png" /></a></div>

  <form id="form" action="{{ url_for('search') }}" method="POST" class="form-animation">
    <input type="text" name="search_query" placeholder="Search for artists or tags..." class="input-animation">
    <button type="submit" class="button-animation btn btn-primary">Search</button>
  </form>
  <div class="navList">
    {% if current_user.user_type == 'artist' %}
    <div class="nav-link">
      <a href="/upload" class="nav-link-animation"><img src="/static/nav_icons/upload.png" /><span>Upload Music</span></a>
    </div>
    <div class="nav-link">
      <a href="{{ url_for('artist_biography', artist_id=current_user.user_id) }}" class="nav-link-animation"><img
          src="/static/nav_icons/bio.png" /><span>Add/Edit Bio</span></a>
    </div>
    <div class="nav-link">
      <a href="{{ url_for('view_events', artist_id=current_user.user_id) }}" class="nav-link-animation"><img src="/static/nav_icons/events.png" /><span>My Events</span></a>
    </div>
    <div class="nav-link">
      <a href="/create-event" class="nav-link-animation"><img src="/static/nav_icons/events.png" /><span>Create Event</span></a>
    </div>
    {% endif %}

    <div class="nav-link_listener">
      <a href="{{ url_for('favorite_artists') }}" class="nav-link-animation"><img src="/static/nav_icons/artists.png" /><span>Favorite
          Artists</span></a>
    </div>
    <div class="nav-link_listener">
      <a href="{{ url_for('my_playlists') }}" class="nav-link-animation"><img src="/static/nav_icons/playlist.png" /><span>My
          Playlist</span></a>
    </div>
    <div class="nav-link_listener">
      <a href="{{ url_for('my_rsvp_events') }}" class="nav-link-animation"><img src="/static/nav_icons/upcoming.png" /><span>Upcoming Events</span></a>
    </div>
  </div>
</nav>


<div class="artist-content">
  <h1>{{ artist.artist_stagename }}'s Biography</h1>

  {% if artist.artist_biography %}
  <p>{{ artist.artist_biography }}</p>
  {% else %}
  <p>No biography available for this artist.</p>
  {% endif %}

  {% if current_user.user_type == 'artist' and current_user.id == artist.id %}
  <form method="POST" class="form-animation">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.biography.label() }}
      {{ form.biography(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
      <input type="submit" name="delete" value="Delete" onclick="return confirmDelete('{{artist.username }}');" class="btn btn-danger" />
    </div>
  </form>
  <script>
    function confirmDelete(username) {
      return confirm("Are you sure you want to delete the biography for " + username + "?");
    }
  </script>
  {% endif %}
</div>
{% endblock %}
