{% extends 'base.html' %}

{% set show_navbar = false %}

{% block title %}Melodiscover{% endblock %}

{% block extra_links %}
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="../static/homepage.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@1,300&display=swap" rel="stylesheet">
<script src="javascript/script.js" defer></script>
{% endblock %}

{% block content %}
<nav class="top-nav">
  <div class="logo">
  <img src="../static/homepage-images/melo-logo-150.png" alt="Logo"></a>
  </div>
  <div class="login_signup">
  <a href="{{ url_for('login') }}">
    <button type="button" class="login-btn">Log In</button></a>
    <a href="{{ url_for('register') }}">
    <button type="button" class="signup-btn">Sign Up</button></a>
  </div>
</nav>

<main>
  <h2> <i>Join us today</i></h1>
    <div class="main_images">
      <div>
        <img src="../static/homepage-images/headphones.png" alt="image">
        <p>Support and listen to a selection of local artists</p>
      </div>
      <div>
        <img src="../static/homepage-images/ads.png" alt="image">
        <p>Enjoy music from local artists subcription-free and ad-free!</p>
      </div>
      <div>
        <img src="../static/homepage-images/megaphone.png" alt="image">
        <p>Be the first to know about concerts and shows by your favourite local artists</p>
      </div>
</main>
<footer>
  <p>&copy; 2023 Melo</p> 
</footer>
{% endblock %}
