{% extends 'base.html' %}

{% block title %}My RSVPed Events{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="../static/upload.css" />
{% endblock %}

{% block content %}
<main class="rsvp-page">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <ul class="flashes">
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}
  {% endwith %}

  <div class="box">
    <div class="box-content">
      <h1>My RSVPed Events</h1>

      {% if events %}
      <div class="uploaded-songs">
          <ul>
              {% for event in events %}
              <li>
                  <h2>{{ event.event_title }}</h2>
                  <p>Date: {{ event.event_date.strftime('%Y-%m-%d %H:%M') }}</p>
                  <p>Venue: {{ event.event_venue }}</p>
                  <p>Description: {{ event.description }}</p>
                  <form action="{{ url_for('unrsvp', event_id=event.event_id) }}" method="POST">
                      <div class="unrsvp-button">
                          <input type="submit" value="UnRSVP">
                      </div>
                  </form>
              </li>
              {% endfor %}
          </ul>
      </div>
      {% else %}
      <p>You have not RSVPed to any events.</p>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
