{% extends 'base.html' %}

{% block title %}Upload Music File{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="../static/upload.css" />
{% endblock %}

{% block content %}
<main class="upload-page">
  <div class="container">
    <div class="box">
      <div class="box-content">
        <h1 class="mb-4">Upload Music File</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="post" enctype="multipart/form-data">
          <div class="mb-3">
            {{ form.hidden_tag() }}
            <label for="album" class="form-label">Album:</label>
            {{ form.album_title(id='album', class='form-control') }}
          </div>

          <div class="mb-3">
            <label for="release" class="form-label">Release Date:</label>
            {{ form.album_release_date(class='form-control') }}
          </div>

          <div class="mb-3">
            <label class="form-label">Songs:</label>
            <div class="input-label"><span>No files selected</span></div>
            <input type="file" name="file" id="file" accept=".mp3" class="form-control" multiple>
          </div>
          
          <div class="mb-3">
            <label class="form-label">Cover Art:</label>
            <div class="input-label"><span>No files selected</span></div>
            <input type="file" name="cover" id="cover" accept=".jpeg, .jpg" class="form-control">
          </div>
          

          <div class="mb-2">
            <input type="submit" value="Upload" class="btn btn-primary">
          </div>

          <div class="uploaded-songs">
            <hr class="my-4">

            <h2>Uploaded Songs:</h2>
            <ul id="song-list"></ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<script>
document.getElementById('file').addEventListener('change', function() {
  const span = this.previousElementSibling.querySelector('span');
  span.textContent = Array.from(this.files).map(file => file.name).join(', ');
});

document.getElementById('cover').addEventListener('change', function() {
  const span = this.previousElementSibling.querySelector('span');
  span.textContent = Array.from(this.files).map(file => file.name).join(', ');
});
</script>

<script>
document.getElementById('file').addEventListener('change', function() {
  const span = this.previousElementSibling.querySelector('span');
  span.textContent = this.files.length + ' file(s) selected';

  const ul = document.getElementById('song-list');
  ul.innerHTML = '';
  Array.from(this.files).forEach(file => {
    const li = document.createElement('li');
    li.textContent = file.name;
    ul.appendChild(li);
  });
});
</script>
{% endblock %}
